.has-background-transparent {
    background-color: transparent !important;
}

.has-background-blur-light {
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.navbar.is-transparent.has-background-blur-light .button {
    border: 0;
    color: white;
    background-color: transparent;
}
.navbar.is-transparent.has-background-blur-light .button.is-active {
    border-radius: 0;
    border-bottom: 1px solid white;
    box-shadow: none !important;
}

#navbar-main .buttons.are-large {
    flex-direction: column;
}

.has-text-weight-bold {
    font-weight: bold;
}

.is-fullwidth {
    min-width: 100vw;
}

.navbar-menu.is-transparent {
    background-color: transparent !important;
}

.navbar .navbar-burger {
    align-self: center;
}

.is-absolute-fullsize {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.is-absolute-fullsize > * {
    position: absolute;
    min-height: 100vh;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    /* animation */
    transition-duration: 750ms;
    opacity: 1;
}

.is-absolute-fullsize > *.is-not-visible {
    opacity: 0;
}

.is-flex-direction-row {
    flex-direction: row;
}
.is-justify-content-space-around {
    justify-content: space-around;
}

.is-align-items-center {
    align-items: center;
}

.buttons.has-background-transparent .button {
    border: none;
    background-color: transparent;
    box-shadow: none;
    border: 0;
    color: lightgray;
}

.buttons.has-background-transparent .button.is-active {
    color: white;
    text-decoration: underline;
}

.button.is-text {
    background-color: transparent !important;
    text-decoration: none;
    border: 0;
}

.field.is-dark .label {
    color: lightgray;
}

.field.is-dark .control > *,
.field.is-dark .control > *:hover {
    border: 1px solid $lightdark;
    color: white;
    background-color: $lightdark;
}

.field {
    padding-bottom: 1em;
}

@media screen and (max-width: 767px) {
    #navbar-video .is-fullwidth {
        flex-direction: column;
    }

    #navbar-video .button.is-active {
        border-bottom: 0;
        border-left: 1px solid white;
        box-shadow: none !important;
    }
}